<div class="container">

    <div class="row">
    
    <div class="col-sm">
    
    <a href="/Universite" role="button" class="btn btn-outline-primary btn-lg btn-block te
    xt-center">
    
    <span><i class="fa fa-users"></i></span>
    
    <br>Universite
    
    </a>
    
    </div>
    
    <div class="col-sm">
    
    <a href="/Etudiants" role="button" class="btn btn-outline-primary btn-lg btn-block tex
    t-center">
    
    <span><i class="fa fa-users"></i></span>
    
    <br>Etudiants
    
    </a>
    
    </div>
    <div class="col-sm">

        <a href="/Enseignants" role="button" class="btn btn-outline-primary btn-lg btn-block t
        ext-center">
        
        <span><i class="fa fa-users"></i></span>
        
        <br>Enseignants
        
        </a>
        
        </div>
        
        <div class="col-sm">
        
        <a href="/Cours" role="button" class="btn btn-outline-primary btn-lg btn-block text-ce
        nter">
        
        <span><i class="fa fa-users"></i></span>
        
        <br>Cours
        
        </a>
        
        </div>
        <div class="col-sm">

            <a href="/Salles" role="button" class="btn btn-outline-primary btn-lg btn-block text-ce
            nter">
            
            <span><i class="fa fa-users"></i></span>
            
            <br>Salles
            
            </a>
            
            </div>
            
            <div class="col-sm">
            
            <a href="/Departements" role="button" class="btn btn-outline-primary btn-lg btn-bloc
            k text-center">
            
            <span><i class="fa fa-users"></i></span>
            
            <br>Departements
            
            </a>
            
            </div>
            
            </div>
            
            </div>